# FRONTEND
FRONTEND=

# FIREBASE
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_DATABASE_URL=

# MONGODB
MONGOOSE_DATABASE_URL=

# SENDGRID
SMTP_USER=
SMTP_PASS=

# JWT
JWT_FIREBASE_SECRET=
JWT_SECRET=
JWT_SECRET_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_SECRET_EXPIRES=  